.btn {
  border: none;
  border-radius: 24px;
  padding: 14px 12px;
  background-color: #877eed;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
}

.btn:hover {
  background-color: #544acb;
}
