::backdrop {
  background-color: #504d4d;
  opacity: 0.75;
}

.dialog {
  background-color: #1e1e1e;
  border-radius: 16px;
  padding: 16px;
  width: 400px;
  color: white;
  border: none;
}

.btn-close-wrapper {
  background-color: transparent;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  text-align: right;
}

.btn-close {
  background-color: transparent;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.card-body {
  padding: 10px;
}
